<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Quản Lý Học Sinh</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav me-auto">
                {% if current_user.is_authenticated %}
                 <li class="nav-item">
                    <a class="nav-link text-success" href="/" style="">
                        Chào <span class="text-info">{{ current_user.name }}</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-danger" href="/logout">Đăng xuất</a>
                </li>
                {% else %}
                 <li class="nav-item">
                    <a class="nav-link text-success" href="/login">Đăng nhập</a>
                </li>
                {% endif %}

            </ul>
        </div>
    </div>
</nav>
