* {
    font-family: Monaco;
}

body {
    background-color:#f9f3f3;
}

.banner {
    margin: 10px auto;
    padding: 10px;
    text-align: center;
}

.flex-container {
  display: flex;
  flex-direction: row;
  padding-left: 10%;
 }
.inform{
    width: 50%
}
select.option {
    width: 49%;
    height: 55px;
}
.form-control {
    display: block;
    width: 100%%;

}
.show {
    text-align: center;
    margin: 0px auto;
    padding: 30px;
}
table {
    margin:20px auto;
    text-align: center;
    width:100%;
    border: 1px solid black;
    border-collapse: collapse;
}
th,td {
    border:1px solid black;
    height: 35px;
}
.back {
    display: block;
    position: fixed;
    z-index:99999;
    top: 100px;
    left: 10px;
    padding: 5px;

    font-size: 20px;
    background-color: #000066;
    width: 50px;
    height: 40px;
    border-radius: 10px;
    opacity: 0.4;

}
.back:hover {
    opacity: 1;
}
.back a{
    color: white;
    text-align: center;
    padding: 8px;
}







