<link href="{{ url_for('static', filename='css/GV.css') }}" rel="stylesheet"/>
<link href="{{ url_for('static', filename='css/capNhatMon.css') }}" rel="stylesheet"/>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet"/>



{% extends 'layout/base.html' %}

{% block content %}
<section style="height: 400px">
    <h1>Thêm môn học</h1>
    <div class="change">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" href="/GV/capNhatMon">Danh sách môn học</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/GV/themMon">Thêm môn</a>
            </li>

        </ul>
    </div>

    <form>
        <input type="text" placeholder="Tên môn" name="name"><br>
        <input type="text" placeholder="Mã môn" name="id">
        <input type="button" value="Thêm" class="option btn btn-add"/>
    </form>


    </div>
</section>
{% endblock %}

